.container{
    height: 100vh;
    padding: 5rem;
    box-sizing: border-box;
}
.vg{
    filter: drop-shadow(0 40px 10px rgba(0, 0 ,0, 0.3));
    animation: vg-animation 1s infinite ease-in-out alternate;
}

@keyframes vg-animation{
    to{
        transform: translateY(-10px);
    }
}

.icons > svg{
    color: white;
    font-size: 3rem;
    transition: 0.5s;
}
.icons > svg:hover{
    color: yellow;
}

.container2{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 video{
    width: 60%;
    border: 1px solid rgba(0, 0 ,0, 0.3);
}

@media screen and (max-width:600px) {
    .container2{
       height: unset;
       padding: 10px 0;
    }
    .container2 video{
        width: auto;
    }
}

.course{
    width: 280px;
    border: 2px solid rebeccapurple;
    transition: all 0.5s;
    margin-bottom: 1rem;
}   
.course:hover{
    transform: translateY(-10px);
}